<h1>Countries</h1>


<table>
  <tr>
    <th>Name</th>
    <th>Continent</th>
    <th>Visited?</th>
    <th>Delete</th>
  </tr>
  <% for country in @countries %>
  <tr>
    <td><a href="/country/<%= country.id %>/edit"><%= country.name %></a></td>
    <td><%= country.continent %></td>
    <td><%= country.visited %></td>
    <td><a href="/country/<%= country.id %>/delete">Delete <%= country.name %></a></td>
  </tr>
  <% end %>
</table>
