<h2>Edit <%= @country.name %></h2>
<form method="POST" action="/country/<%= @country.id %>">
  <label>
    Country:
    <input type="text" name="name" id="name" value=<%= @country.name %>>
  </label>
  <label> Continent:
    <input type="text" name="continent" id="continent" value=<%= @country.continent %>>
  </label>
  <label> Visited?:
    <input type="text" name="visited" id="visited" value=<%= @country.visited %>>
  </label>
  <input class="Country" type='submit' value="Update">

</form>
