<h1>Home</h1>
<label for="destinations_planned">Recently Planned Destinations</label>
<table id="destinations_planned">
  <tr>
    <th>Name</th>
    <th>|</th>
    <th>Country</th>
    <th>|</th>
    <th>Type</th>
    <th>|</th>
    <th>Visited</th>
  </tr>
  <% for destination in @planned_destinations %>
  <tr>
    <td><%= destination.name %></td>
    <td>|</td>
    <td> <%= destination.country.name %></td>
    <td>|</td>
    <td> <%= destination.type %></td>
    <td>|</td>
    <td> <%= destination.visited %> </td>
  </tr>
  <% end %>
</table>
<br>
<br>
<br>
<label for="destinations_visited"> Recently Visited Destinations </label>
<table id="destinations_visited">
  <tr>
    <th>Name</th>
    <th>|</th>
    <th>Country</th>
    <th>|</th>
    <th>Type</th>
    <th>|</th>
    <th>Visited</th>
  </tr>
  <% for destination in @visited_destinations %>
  <tr>
    <td><%= destination.name %></td>
    <td>|</td>
    <td> <%= destination.country.name %></td>
    <td>|</td>
    <td> <%= destination.type %></td>
    <td>|</td>
    <td> <%= destination.visited %> </td>
  </tr>
  <% end %>
</table>
