<h1>Home</h1>
<label for="destinations_planned">Recently Planned Destinations</label>
<table id="destinations_planned">
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Type</th>
    <th>Visited</th>
  </tr>
  <% for destination in @planned_destinations %>
    <input type="hidden" name="visited" value=false>
    <% if (destination.visited) == 'f' %>
      <tr>
        <td><%= destination.name %></td>
        <td> <%= destination.country.name %></td>
        <td> <%= destination.type %></td>
        <td>
          <input type="checkbox" name="visited" id="visited" disabled>
        </td>
      </tr>
    <% else %>
      <tr>
        <td><%= destination.name %></td>
        <td> <%= destination.country.name %></td>
        <td> <%= destination.type %></td>
        <td>
          <input type="checkbox" name="visited" id="visited" disabled checked>
        </td>
      </tr>
    <% end %>

  <% end %>
</table>
<br>
<br>
<br>
<label for="destinations_visited"> Recently Visited Destinations </label>
<table id="destinations_visited">
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Type</th>
    <th>Visited</th>
  </tr>
  <% for destination in @visited_destinations %>
    <input type="hidden" name="visited" value=false>
    <% if (destination.visited) == 'f' %>
      <tr>
        <td><%= destination.name %></td>
        <td> <%= destination.country.name %></td>
        <td> <%= destination.type %></td>
        <td>
          <input type="checkbox" name="visited" id="visited" disabled>
        </td>
      </tr>
    <% else %>
      <tr>
        <td><%= destination.name %></td>
        <td> <%= destination.country.name %></td>
        <td> <%= destination.type %></td>
        <td>
          <input type="checkbox" name="visited" id="visited" disabled checked>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
