<h1>Planned Destination</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Type</th>
    <th>Visited</th>
    <th>Delete</th>
  </tr>
  <% for destination in @destinations_planned %>
  <input type="hidden" name="visited" value=false>
  <% if (destination.visited) == 'f' %>
  <tr>
    <td><a href="/country/destination/<%= destination.id %>/edit"><%= destination.name %></a></td>
    <td> <%= destination.country.name %></td>
    <td> <%= destination.type %></td>
    <td>
      <input type="checkbox" name="visited" id="visited" disabled>
    </td>
    <td><a href="/country/destination/<%= destination.id %>/delete">Delete <%= destination.name %></a></td>
  </tr>
  <% else %>
    <tr>
      <td><a href="/country/destination/<%= destination.id %>/edit"><%= destination.name %></a></td>
      <td> <%= destination.country.name %></td>
      <td> <%= destination.type %></td>
      <td>
        <input type="checkbox" name="visited" id="visited" disabled checked>
      </td>
      <td><a href="/country/destination/<%= destination.id %>/delete">Delete <%= destination.name %></a></td>
    </tr>
  <% end %>
  <% end %>
</table>
