<h1>Visited Destination</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Type</th>
    <th>Visited</th>
    <th>Delete</th>
  </tr>
  <% for destination in @destinations_visited %>
  <tr>
    <td><a href="/country/destination/<%= destination.id %>/edit"><%= destination.name %></a></td>
    <td> <%= destination.country.name %></td>
    <td> <%= destination.type %></td>
    <td> <%= destination.visited %> </td>
    <td><a href="/country/destination/<%= destination.id %>/delete">Delete <%= destination.name %></a></td>
  </tr>
  <% end %>
</table>
